body {
    color: white;
    background-color: #CE8054;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin-left: 3vw;
}

.product-card {
    background-color: #B35340;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    border: 1px solid white;
    width: 70vw;
    height: 30vh;
}

.product-card__image-container {
    text-align: center;
}

.product-card__image {
    padding: 10px;
    height: 27vh;
}

.product-card__describe {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.product-card__describe__name {
    font-weight: 900;
    font-size: 22px;
}

.product-card__describe__type,
.product-card__describe__weight {
    font-weight: 500;
    font-size: 19px;
}

.product-card__price {
    padding-right: 20px;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
}

.button {
    margin: 50px;
    width: 300px;
    height: 100px;
    background-color: #B35340;
    color: white;
}

.count {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button {
    font-weight: 500;
    font-size: 19px;
}

.total-price {
    display: flex;
    align-items: center;

    font-weight: 900;
    font-size: 30px;
}

div.product-card div.product-card__price div.price_1 {

}