@font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/proximanova_regular.ttf);
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/proximanova_bold.otf);
}

@font-face {
    font-family: 'DM Sans thin';
    src: url(/fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: 'DM Sans';
    src: url(/fonts/DMSans-Bold.ttf);
}

.many-people {
    position: absolute;
    top: 0%;
    width: 100%;
}

.header-gradient {
    position: absolute;
    top: 0%;
    width: 100%;
}

.header-kpop {
    position: absolute;
    width: 700px;
    height: 488px;
    left: 76px;
    top: 100px;
}

.shadow {
    position: absolute;
    width: 776px;
    height: 91px;
    left: 76px;
    top: 520px;
}

.header-menu {
    position: absolute;
    width: 515px;
    height: 41px;
    left: 748px;
    top: 24px;

}

.header-text {
    position: absolute;
    width: 443px;
    height: 98px;
    left: 820px;
    top: 218px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;
}

.header-text-low {

    position: absolute;
    width: 443px;
    height: 69px;
    left: 820px;
    top: 342px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    color: #FFFFFF;


}

.header-logo {
    position: absolute;
    width: 152.44px;
    height: 35px;
    left: 177px;
    top: 25px;
}

#get-ticket {
    font-family: 'Proxima Nova';
    font-weight: 600;

    position: absolute;
    width: 182px;
    height: 60px;
    left: 812px;
    top: 441px;

    background-color: #F5167E;
    color: white;
    border-radius: 40px;
    border: none;
}

#get-ticket:active {
    color: #79093d;
}

#learn-more:active {
    color: #79093d;
}

#learn-more {
    font-family: 'Proxima Nova';
    font-weight: 600;

    position: absolute;
    width: 182px;
    height: 60px;
    left: 1014px;
    top: 441px;

    background-color: transparent;
    color: white;
    border-radius: 40px;
    border: 1px solid white;
}

.choose-board {
    position: absolute;
    width: 1086px;
    height: 140px;
    left: 177px;
    top: 600px;

    width: 1086px;
    height: 140px;

    background-color: #242565;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
    align-items: center;
}

.choose-board .cell {
    font-family: 'DM Sans';
    color: #FFFFFF;
}

.event {
    margin-left: 48px;
}

.time {
    margin-right: 48px;
}

.choose-board .cell-1,
.choose-board .cell-2,
.choose-board .cell-3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;


}

.choose-board .cell-4,
.choose-board .cell-5,
.choose-board .cell-6 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    border-bottom: 1px solid #7778B0;
}

.main-select {
    position: absolute;
    left: 177px;
    top: 840px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: baseline;
}

.upcoming {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

    color: #242565;
}

.select-cell {
    display: grid;
    grid-template-columns: 168px 168px 168px;
    grid-template-rows: 46px;
    gap: 20px;
}

.select-cell .cell {
    width: 168px;
    height: 46px;


    background-color: #F2F4FF;
    color: #1D275F;
    border-radius: 50px;

    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

    display: grid;
    grid-template-columns: 120px 40px;
    align-items: center;
    justify-items: center;

}

.events {
    position: absolute;
    left: 177px;
    top: 960px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 29px;
}

.events .cell {
    width: 343px;
    height: 334px;
    border-radius: 40px;

    display: grid;
    grid-template-columns: 68px 1fr;
    grid-template-rows: 218px 1fr 1fr;
    grid-template-areas: "band band"
        "date big"
        "date small";
    justify-items: center;
    align-items: flex-start;

    background-color: #ffffff;
    filter: drop-shadow(0px 18.9529px 47.3822px rgba(119, 115, 170, 0.1));
}

.event-head-text {
    width: 241px;
    height: 46px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    grid-area: big;
}

.event-small-text {
    width: 241px;
    height: 39px;
    font-family: 'DM Sans Thin';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #6A6A6A;

    grid-area: small;
}

.event-date {
    display: grid;
    width: 29px;
    height: 49px;
    justify-items: center;
    grid-row: 1/3;

    grid-area: date;
}

.band {
    grid-area: band;
}

.event-date-number {
    font-family: 'DM Sans';
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.event-date-month {
    font-family: 'DM Sans';
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #3D37F1;
}

#load-more {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    position: absolute;
    width: 182px;
    height: 60px;
    left: 605px;
    top: 1723px;

    background-color: transparent;
    color: #3D37F1;
    border-radius: 50px;
    border: 2px solid #3D37F1;
}

.footer {
    position: absolute;
    height: 430px;
    width: 100%;
    top: 1851px;

    display: grid;
    align-items: center;
    justify-items: center;

    background-color: #0A075F;
}