body {
    padding: 100px;
    background-color: rgb(248, 214, 214);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: brown;
}

.post-item {
    width: 1000px;
    margin: 50px 0 50px 0;
}

h2 {
    color: rgb(180, 70, 70);
}

.post-text {
    font-weight: 600;
    font-size: 18px;
}

#form {
    display: flex;
    gap: 20px;
}

input {
    margin: 20px;
    padding: 5px;
    height: 40px;
    border: none;
}

button {
    height: 50px;
    border: none;
}